@import url('../../assets/fonts/geral.fontes.css');

.container{
    margin: 70px 0;
    padding: 0;
    height: calc(100vh - 70px);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'OpenSans';
}

.section1{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 .img{
}

.section2{
    background-color: rgba(0, 0, 255, 0.306);
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}